<ion-header>
  <ion-toolbar>
    <ion-title>Administrator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<label>You login as : </label><br><br><br>
<div style="text-align: center;">
<ion-label style="font-size:xx-large;font-family: 'Times New Roman', Times, serif;color:brown;">
Updates</ion-label></div>
<ion-button expand="block" style="height: 50px;"  routerLink="/decorpage"> 
<ion-icon name="restaurant-outline"  style="font-size: x-large;"></ion-icon>
&nbsp;Decor
</ion-button>
<ion-button expand="block" style="height: 50px;" routerLink="/foodspage">
<ion-icon name="create-outline" style="font-size: x-large;" ></ion-icon>
&nbsp;Foods</ion-button>
<ion-button expand="block" style="height: 50px;"  routerLink="/equipmentspage">
<ion-icon name="leaf-outline" color="success" style="font-size: x-large;" ></ion-icon>
&nbsp;Equipments</ion-button>
<div item-content style="display: flex; justify-content: space-between;"> 
  <ion-button color="warning" style="height: 50px;width:179px;" >
  <ion-icon name="gift-outline" color="danger" style="font-size: x-large;"></ion-icon>
  Gift</ion-button>
  <ion-button    color="dark" style="height: 50px;width:178px;"  >
  <ion-icon name="create-outline" color="primary" style="font-size: xx-large;"></ion-icon>
  Request</ion-button>
</div>
</ion-content>
<ion-button>Logout </ion-button>
