ion-title{
    font-family: 'Times New Roman', Times, serif;}
label{
        font-family: 'Times New Roman', Times, serif;
    font-size: larger;}
    ion-button{
        margin:auto;
        margin-bottom: 2px;
        margin-left: 1px;
        margin-right: 1px;

    }