ion-title{
    font-family: 'Times New Roman', Times, serif;}
ion-card {
    height: 480px;
    width: 308px;
    margin:auto;
    border-radius: 0px !important;}
    ion-label{
    font-family: 'Times New Roman', Times, serif;    
}
ion-icon {font-size: 20px;}
footer{
    font-family: 'Times New Roman', Times, serif;  
    font-size: 14px;
background-color:#ffd31a ;
color:black}
ion-label{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    
}label{
    color:ffd31a;
}
p{
    color:black;
    font-family: 'Times New Roman', Times, serif; 
    padding:1px ;
}  p{ background-color: orange;
    line-height: 32px;}
    label{
        color:black;
        font-family: 'Times New Roman', Times, serif; 
        padding:0.1px ;   
    }