<br>
<ion-content>
  <ion-row>  
  <ion-col col-4>
  <ion-card style="border: 1px solid;">
  <ion-card-content class="card-content" >
    <ion-header>
      <ion-toolbar color= "warning">
      <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
            <ion-icon name="arrow-back" routerLink="/menu" color="light" ></ion-icon> 
            <ion-title style="text-align: center;">About Us</ion-title>
            <ion-icon name="arrow-forward" routerLink="/contact" color="light"></ion-icon> </div>
      </ion-toolbar>
      </ion-header><br>
    <label><ion-label><b>CLTS LIFESTYLE EVENTS</b></ion-label> was established in 2020 by 
      Courtney Serongwa , Lucky Masharane ,Tony Kobe and Sakkie Mashile, 
      and registered as profit organization[<label style="color:#ffd31a;"><b> No:1177336 </b></label>].<br><br>
    <ion-label style="font-size: large;"><b>Our core business and function:</b></ion-label><br>
      1)Plan events , decorate and supply with equipments<br>
      2)Facilitate , oversee , and <br>
      3)Successfully execute all lifestyle events that we engage in.<br></label>
     <footer style="text-align: center;"><ion-label style="font-size: large;" ><b> Mission</b></ion-label><br>
       To define new boundries and frontiers in the events industry by aiming a whole dimension when it comes to events.
       </footer>
     
  
</ion-card-content></ion-card>
</ion-col></ion-row>
<div style="text-align: center">
  <p><label >CLTS LIFESTYLE EVENTS | (c) 2020 / 2021
  </label></p></div>