ion-title{font-family: 'Times New Roman', Times, serif;}
h1{font-size: 16px;
        font-family: 'Times New Roman', Times, serif;}
p{font-family: 'Times New Roman', Times, serif; 
        font-size: 14px;
    color:black;}
ion-icon {font-size: 20px;}
ion-input{font-size: 12;
            height: 20px;
            margin-bottom: 10px;
            border: 1px solid #0a0a0a;
            border-radius: 6px !important;
            color: black;
            font-family: 'Times New Roman', Times, serif;}
ion-button{height: 22px;
font-size: 12;
font-family: 'Times New Roman', Times, serif;}
ion-textarea{margin-bottom: 10px;
                    border: 1px solid #0a0a0a;
                    border-radius: 6px !important;
                    color: black;}

fieldset{height: 198px;
            width: 250px;
                        margin:auto}
                        ion-card {
                            height: 490px;
                            width: 308px;
                            margin:auto;
                            border-radius: 0px !important;}
                            ion-label{
                            font-family: 'Times New Roman', Times, serif;    
                        }ion-item{
                            width: 260px;
                            margin-bottom: 0.1px;
                            border:none;
                        }