a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
    color: black;}
    p{
    background-color: orange;
    line-height: 34px;}
ion-label{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;}

label{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 14px;  
}ion-title{
    font-family: 'Times New Roman', Times, serif;}
ion-button{
    height: 100px;
    width:180px;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;}
    ion-list{
        background-color:black;
        
    }
    
 
    
