a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    color: black;}
    p{
    background-color: orange;
    line-height: 32px;
}
ion-label{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

label{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 12px;
   
}ion-title{
    font-family: 'Times New Roman', Times, serif;
}img{
    
margin:1px;
width:156px;
height:150px;
border-radius: 8px;
}

