<ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content ><p>
&nbsp;&nbsp;<a routerLink='/about'>About |</a>&nbsp;<a routerLink='/contact'>Contact  |</a>
&nbsp;&nbsp;<a routerLink='/gallery'>Gallaries |</a> 



&nbsp;&nbsp;<a routerLink='/request'>Request |</a> 
&nbsp;&nbsp;<ion-icon name="person-outline" color="default" size="small" routerLink='/login'></ion-icon></p>
<ion-label>LCTS LifeStyle Events : That's The Things That Matter...</ion-label><br><br>
<img src="assets/event-decor.jpg" style="border-radius: 8px;">
<img src="assets/images (1).jpg" >
<div style=" text-align:center">
<img src="assets/hero-img.jpg" style="width: 500px;"></div>
</ion-content>
<ion-icon name="arrow-back" routerLink=""></ion-icon><label>Back</label>
