ion-title,a{
    font-family: 'Times New Roman', Times, serif;
}
ion-label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:brown
}label{
    font-family: 'Times New Roman', Times, serif;  
}
p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    color:brown;
    background-color: rgb(226, 226, 247);
    line-height: 34px;
}img{
display: block;
margin: auto;
width:250px;
height:150px;
background-size: cover;
}ion-button{
    margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
}