<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header><br>
<ion-content>
<ion-label><i>This is what we do : </i></ion-label>
<p>Categories</p>

<br>
<div item-content style=" justify-content: space-between;display:flex"> 

  <ion-button routerLink='/decor' color="warning"  expand="outline" style="height:120px ;width:180px ;">
    <ion-icon name="restaurant-outline" color="primary" style="font-size: xx-large;"></ion-icon><br><br>
    Decor</ion-button>
  
    <div item-content style="justify-content: space-between;text-align: right;"> 
  <ion-button  routerLink='/foods'  color="secondary"  expand="outline" style="height:55px ;width:180px ;">
    
    <ion-icon name="create-outline" color="primary" style="font-size: xx-large;" ></ion-icon>
    Foods</ion-button><br>
   
    <ion-button  routerLink='/equipments'  color="dark"  expand="outline" style="height:55px ;width:180px ;">
      <ion-icon name="create-outline" color="primary" style="font-size: xx-large;" ></ion-icon>
      Equipments</ion-button></div></div>
      <div style="text-align: center;">
        <p style="color: cornsilk;"><a routerLink='/register'><ion-icon name="gift-outline" color="danger" 
        style="font-size: x-large;">
        </ion-icon>
          Sign-up</a> And Get 15% off</p></div>


</ion-content>
<ion-button routerLink='' expand="outline"> Home</ion-button>
