ion-title{font-family: 'Times New Roman', Times, serif;}
ion-card {
    height: 490px;
    width: 308px;
    margin:auto;
    border-radius: 0px !important;
}
    ion-label{
    font-family: 'Times New Roman', Times, serif;    
}ion-button{
height: 22px;
font-size: 12px;
font-family: 'Times New Roman', Times, serif;
}ion-label{
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    font-size: 18px;
    font-style: bold
}
ion-item{
    width: 270px;  
}
img{
    width:300px;
    height:150px;
    background-size: cover;
    }
    a{
        color:black ;
    }
    p{ background-color: orange;
        line-height: 32px;}
        