ion-label{
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    font-size: 24px;
    font-style: bold
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
}
label{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 14px;
   

}p{ background-color: orange;
line-height: 32px;}