
<ion-content>
  <ion-row><ion-col col-4><br>
  <ion-card style="border: 0px ;">
  <ion-card-content class="card-content" ><ion-list>

<ion-list>
  <img src="assets/IMG-20210210-WA0028.jpg">
  <div style="text-align: center">
    <ion-label >Welcome to CLTS LIFESTYLE Events Company</ion-label><br>
    <a style="color: black;">Decor . Foods . Equipments</a><ion-item></ion-item>
    </div>
  </ion-list>








  <ion-button  expand="block" color="warning" routerLink="/register">Sign-up</ion-button> 
  <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 18px;background-color:white;"> or </p>
<ion-button  expand="block" color="dark" routerLink="/login">Login</ion-button> </ion-list>
<div style="text-align:right;">
<a  routerLink="/menu" style="font-family: 'Times New Roman', Times, serif;">Next</a> </div>
</ion-card-content></ion-card></ion-col></ion-row>

<div style="text-align: center">
  <p style="font-family:'Times New Roman', Times, serif;" >CLTS LIFESTYLE EVENTS | (c) 2020 / 2021
  </p></div>