<br><br><br><ion-content>
  <ion-row>  
  <ion-col col-4>
  <ion-card style="border:#ffc400ef 1px solid;">
  <ion-card-content class="card-content" >
<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<div style="text-align: center;">
    <ion-icon name="mail-open-outline" color="warning"></ion-icon></div>
    <ion-input [(ngModel)]="Email"   placeholder="E-mail..." ></ion-input>
    
   <ion-button (click)="forgotPassword()" expand="block" color="dark">Reset My Password</ion-button>
   <ion-button  expand="block" color="warning" routerLink="/login">cancel</ion-button>
  </ion-card-content>
  </ion-card>
  </ion-col>
  </ion-row>
