ion-title{
    font-family: 'Times New Roman', Times, serif;}
    p{
        font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
background-color: rgb(224, 237, 238);
line-height: 34px;}
ion-list{
    background-color: rgb(224, 237, 238);
    padding: 1px;
    line-height: 34px;
}
ion-label{
    font-family: 'Times New Roman', Times, serif;
}
ion-select{
color: black;
}