ion-title,a{
    font-family: 'Times New Roman', Times, serif;
}ion-label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:brown
}label{
    font-family: 'Times New Roman', Times, serif;  
}
p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    color:brown
}img{
display: block;
margin: auto;
width:250px;
height:150px;
background-size: cover;
}